<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>DirectorShockwave</string>
	<key>CFBundleGetInfoString</key>
	<string>11.5.8r612 Copyright 1985-2008 Adobe Systems, Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.shockwave.pluginshim</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>11.5.8r612 Copyright 1985-2008 Adobe Systems, Inc. All rights reserved.</string>
	<key>CFBundleName</key>
	<string>DirectorShockwave</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleShortVersionString</key>
	<string>11.5.8r612</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>11.5.8r612</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>11.5.8r612 Copyright 1985-2008 Adobe Systems, Inc. All rights reserved.</string>
	<key>WebPluginDescription</key>
	<string>Shockwave for Director 11.5.8r612</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/x-director</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>dcr</string>
				<string>dir</string>
				<string>dxr</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Shockwave for Director</string>
		</dict>
	</dict>
</dict>
</plist>
